#header {
	/*background:url(../) repeat-x;-
	height:184px;
	margin:15px 0 0;*/
	/*background:url(../img/header2.png) repeat-x;*/
	display: flex;
	justify-content: space-between;
	
}




h1 {
	display: flex;
	justify-content: center;
}

a:link { color: black; } a:visited { color: green; } a:hover { color: rebeccapurple; } a:active { color: teal; }

.d-block{
	height: 750px;
}