.tagcolor{
	color: white;
}

.body {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.254em;
    padding: 0;
    padding-left: 250px;
    padding-top: 50px;
    background-color: #F1F1F3;
}
.headershows1{
	background-color: #4B64FF;
}

.image{
    width: 225px;
    height: 70px;
    border: 0;
    alt: Home;
}
.top-bar{
    position: fixed;
    left: 250;
    right: 0;
    top:0;
    background-color:#4166a7;
    height: 50px;
}
.menu {
    position: fixed;
    height: 100%;
    background-color:#160849;
    width: 250px;
    left: 0;
    top:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    
}

.menu a{
    color: white;
}
.menu li{
    margin-top: 10px;
}
.content {
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;
}
.view-content{
    margin-top: 75px;
}
.footer{
    margin-top: 150px;
    font-size: 85%;
    border-top: 1px solid #E6E6E6;
    color: #838383;
}
.table-writer{
    
    width: 100%;
    height: 300px;
    border-radius: 5px;
    border: 1px solid #ddd;
    align-items: center;
}
.writer-input{
    background: #F1F1F3;
     border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
    padding: 0px;

}
.form-input{
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
    width: 35%;
    background: white;
    height: 300px;
}

th, td {
  padding: 10px;
  
}
th{
    background: #f5f5f5;
}
tr:hover {background-color: #ddd;}
table,th,td{
    text-align:  center;
}
table {
    table-layout: fixed;
    width: 100%;
}

table td {
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
}