.list-main-content{
    background-color: whitesmoke;
    height: auto;
    widows: 100%;
}
.news-cell{
    display: inline-block;
    margin-top: 30px;
}
.preview{
    float: left;
}
.news-abstract {
    padding: 0 30px;

}

.img-news-preview{
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: 220px;
    height: 125px;

}
.news-title{
    padding: 0 8px;    
    
}
.news-content{

}
.news-content-item{

}
a:link { color: black; } a:visited { color: green; } a:hover { color: rebeccapurple; } a:active { color: teal; }





.news-content-item::before{
    border-left:1px solid;
    content:"";
    display:inline-block;
    height:1.1em;
    margin:0 .3em;
    vertical-align:middle;
    width:2px
}

