<div class="card">
  <h5 class="card-header">Thêm tag</h5>
  <div class="card-body">
        <form method="POST">
            <div class="form-group">
                <label for="inputName">Tên tag</label>
                <input type="text"  required="required" class="form-control" id="inputName" name="inputtagName" autofocus placeholder="Tên tag">
            </div>
            <div class="form-group">
                <label for="inputPostCounter">Số bài viết</label>
                <input type="number"  required="required" class="form-control" id="inputSoBaiViet" name="inputtagSoBaiViet" placeholder="Số bài viêt">
            </div>
            <div class="form-group">
                <label for="inputLink">Link</label>
                <input type="text"  required="required" class="form-control" id="inputLink" name="inputtagLink" placeholder="link..">
            </div>
            <div class="form-group d-flex justify-content-between">
                <button type="submit" class="btn btn-success"><i class="fas fa-check"></i>&nbsp; Thêm</button>
                <a role="button" href="/admin/tags" class="btn btn-primary"><i class="fas fa-arrow-left"></i>&nbsp; Trở lại</a>
            </div>
        </form>
  </div>
</div>