<div class="card">
  <h5 class="card-header">Cập nhật bài viết</h5>
  {{#if this.error}}
        <div class="alert alert-warning" role="alert">
            Invalid postID, Try again@@@@@@@@@@@@@@
        </div>
  {{else}}
    <div class="card-body">
            <form method="POST" action="/admin/posts/update">
            <div class="form-group">
                    <label for="inputID">ID tag</label>
                    <input readonly type="text" required="required" class="form-control" id="inputID" name="inputpostID" aria-describedby="emailHelp" autofocus placeholder="Tag ID" value="{{this.post.postID}}">
                </div>
                <div class="form-group">
                    <label for="inputName">Tên tag</label>
                    <input type="text" required="required" class="form-control" id="inputName" name="inputpostName" aria-describedby="emailHelp" autofocus placeholder="Tên tag" value="{{this.post.postName}}">
                </div>
               <div class="form-group">
                    <label for="combobox">Tình trạng bài viết</label>
                    <select  class="custom-select" id="combobox" name="inputpostStatus">
                        <option value="draft">draft</option>
                        <option value="publish">publish</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputLink">Link</label>
                    <input type="text" required="required" class="form-control" id="inputLink" name="inputpostLink" placeholder="link.."  value="{{this.post.postLink}}">
                </div>
                <div class="form-group d-flex justify-content-between">
                    <button type="submit" class="btn btn-success"><i class="fas fa-check"></i>&nbsp; Sửa</button>
                    <a role="button" href="/admin/posts" class="btn btn-primary"><i class="fas fa-arrow-left"></i>&nbsp; Trở lại</a>
                </div>
            </form>
    </div>
  {{/if}}
</div>