i{
	margin: 0px;
	color: #929292;
}
/*a,
a:active,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
  outline: 0 solid;
}*/
.hlink {
  -webkit-transition: all ease 500ms;
  -o-transition: all ease 500ms;
  transition: all ease 500ms;
  font-size: 14px;
  color: #929292;
  margin: 0px;
}
.hlink:hover {
  color: #626262;
}