{{#section 'js'}}
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery
<script>
$(document).ready(function() {
 
        //Khi bàn phím được nhấn và thả ra thì sẽ chạy phương thức này
        $("#formDemo").validate({
            rules: {
                username: "required",
                email: "required",
                diachi: {
                    required: true,
                    minlength: 2
                }
            },
            messages: {
                username: "Vui lòng nhập họ",
                email: "Vui lòng nhập tên",
                diachi: {
                    required: "Vui lòng nhập địa chỉ",
                    minlength: "Địa chỉ ngắn vậy, chém gió ah?"
                }
            }
        });
    });
{{/section}}

{{#section 'css'}}
<link rel="stylesheet" href="css/stylesignin.css" type="text/css">
{{/section}}


<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center mb-5">Form đăng kí</h2>
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card border-secondary">
                        <div class="card-header">
                            <h3 class="mb-0 my-2">Đăng kí</h3>
                        </div>
                        <div class="card-body">
                            <!--
                            <form method="get" accept-charset="utf-8" id="formDemo">
                                <div class="form-group">
                                    <label for="inputName">Tên tài khoản</label>
                                    <input type="text" class="form-control" placeholder="full name" name="username">
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3">Email</label>
                                    <input type="email" class="form-control" placeholder="email@gmail.com" name="email">
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3">Mật khẩu</label>
                                    <input type="password" class="form-control" placeholder="password" title="At least 6 characters with letters and numbers" name="password" >
                                </div>
                                <div class="form-group">
                                    <label for="inputVerify3">Nhập lại mật khẩu</label>
                                    <input type="password" class="form-control" placeholder="password (again)" name="confirm">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success btn-lg float-right">Đăng kí</button>
                                </div>
                            </form>


                            -->

                            <form method="get" accept-charset="utf-8" style="width:600px;margin: 0px auto;" id="formDemo">
        <fieldset>
<div class="form-group">
                                    <label for="inputName">Tên tài khoản</label>
                                   <input name="username" type="text" class="form-control" placeholder="Vui lòng nhập họ" required>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3">Email</label>
                                    <input name="email" type="text" class="form-control" placeholder="Vui lòng nhập tên" required>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3">Mật khẩu</label>
                                    <input type="password" class="form-control" placeholder="password" title="At least 6 characters with letters and numbers" name="password" >
                                </div>
                                <div class="form-group">
                                    <label for="inputVerify3">Nhập lại mật khẩu</label>
                                    <input type="password" class="form-control" placeholder="password (again)" name="confirm">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success btn-lg float-right">Đăng kí</button>
                                </div>
        </fieldset>
    </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--/row--> 
        </div> 
        <!--/col-->
    </div>
    <!--/row-->
    </div>
    <!--/container-->
